<!--<p>
  programa works!
</p>-->

<!-- <h3>Listado de Programas</h3>
	<ul>
		<li *ngFor= "let programa of programasDef">
			Programa:
			<ul>
				<li>{{programa.nombre}}</li>
				<li>{{programa.detalle}}</li>
				<li *ngIf="programa.activo == true">Esta activo</li>
				<li *ngIf="programa.activo == false">No esta activo</li>
			</ul>
		</li>
	</ul> -->




<div class="content-wrapper"> 
  <section class="content">
		<h3>Listado de Programas</h3>
			<ul>
				<li *ngFor= "let programa of programasDef">
					Programa:
					<ul>
						<li>{{programa.nombre}}</li>
						<li>{{programa.detalle}}</li>
						<li *ngIf="programa.activo == true">Esta activo</li>
						<li *ngIf="programa.activo == false">No esta activo</li>
					</ul>
				</li>
			</ul> 

	</section>
</div>
