<form (submit)="login($event)">
  <div class="imput">
    <label for="">Username</label>
    <input type="text" placeholder="login">

  </div>
  <div class="imput">
    <label for="">Password</label>
    <input type="password" placeholder="password" >
    
  </div>
  <div class="imput">
    <!--<button type="text" value="Login">LOGIN</button> -->
    <!--<button (click)="login($event)">LOGIN</button>-->
    <input type="submit" value="LOGIN" [routerLink]="['/principal']">
     
  </div>
  <div>
    <p>{{usuario.nombre}}</p>
    
  </div>
</form>



