<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!--<section class="content-header">-->
  <section class="header">
    <ul class="breadcrumb">
      
    </ul>
  </section>
  <!--<section class="content">
      <div *ngIf="eventoPrograma == true">
            <h3>Listado de Programas Activos</h3>
            <ul>
        <li *ngFor= "let programa of programasDef">
          Programa:
          <ul>
            <li>{{programa.nombre}}</li>
            <li>{{programa.detalle}}</li>
            <li *ngIf="programa.activo == true">Esta activo</li>
            <li *ngIf="programa.activo == false">No esta activo</li>
          </ul>
        </li>
        </ul> 
      </div>

  </section>-->
  <section class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 2</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    -
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 3</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 4</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 5</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 6</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 7</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 8</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 9</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">programa 10</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
  </div>
</section>

</div>
