


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
		</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
		</ol>

  </section>

  
  <section class="content">
  	<app-form-programa></app-form-programa>

	<div *ngIf="eventoPrograma == true">
           <a href="#" class="btn btn-lg btn-primary" (click)="ver(false)">Ver programas</a>
           <a href="#" class="btn btn-lg btn-success">Añadir programas</a>

        <h3>Listado de Programas:</h3>
        <ul>
		<li *ngFor= "let programa of programasDef">
			Programa:
			<ul>
				<li>{{programa.nombre}}</li>
				<li>{{programa.detalle}}</li>
				<li *ngIf="programa.activo == true">Esta activo</li>
				<li *ngIf="programa.activo == false">No esta activo</li>
			</ul>
		</li>
		</ul> 
   </div>

  </section>
</div>