


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!--<section class="content-header">-->
  <section class="header">
    <ul class="breadcrumb">
      <li><a [routerLink]="['/home/programa/activos']" class="btn btn-lg btn-primary">Ver Programas Activos</a>
      </li>
      <li><a [routerLink]="['/home/programa/aniadir']" class="btn btn-lg btn-success">
        <span class="glyphicon glyphicon-plus">Añadir Programas</span></a>
      </li>
    </ul>
  </section>      
  <router-outlet></router-outlet>
</div>