


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  
  <section class="content">


    <app-form></app-form>

    <app-persona></app-persona>
    
    <div>
      <div class="filter-wrap">
        <input [(ngModel)]="searchText" placeholder="Nombre Persona" class="filter-input">
        <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
        <!-- <a class="btn btn-primary filter-clear" *ngIf="searchText.length>0" (clic)="clearFilter()">Cancelar</a> -->
      </div>
    </div>
      
      <table class="table">
        <thead>
          <tr>filtros</tr>
          <tr></tr>
        </thead>
        <tbody>
          <tr>
              
            <td><a class="btn btn-primary" >inscritos</a></td>
            <td><a class="btn btn-primary" >interesados</a></td>
            <td><a class="btn btn-primary" >todos</a></td>
            <td><a class="btn btn-primary" >asd</a></td>
            <td><a class="btn btn-primary" >asdf</a></td>


          </tr>
         
          
        </tbody>


      </table>


      

      <table class="table table-hover">
          <thead>
          <tr>
              <td>nombre persona</td>
              <td>interes</td>
              <td colspan="2">estado</td>
          </tr>
          </thead>
        
          <tbody>
            
              <tr *ngFor="let person of listado_personas | filter : searchText">
                  <td>{{ person.name }}</td>
                  <td>{{ person.username }}</td>
                  <td><a  class="btn btn-primary">INFORMACION</a></td>
              </tr>
          </tbody>
        </table>




  </section>
</div>

