<!-- <p>
  form works!
</p> -->


<form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
  <input matInput placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="ContactModel.name" name="Name" required>
  <input matInput placeholder="Email" type="email" [(ngModel)]="ContactModel.email" name="Email" required>
  <input matInput placeholder="Teléfono" #tel type="tel" [(ngModel)]="ContactModel.phone" name="Phone" maxlength="16">
  <input matInput placeholder="Asunto" #asunto maxlength="60" [(ngModel)]="ContactModel.subject" name="Subject" required>
  <textarea matInput placeholder="Mensaje" #msn maxlength="300" [(ngModel)]="ContactModel.msn" name="Msn" cols="25"></textarea>
  <button  [disabled]="!contactForm.form.valid">Enviar</button>
</form>